hls_verifier/HlsVerifier/*.o
hls_verifier/HlsVerifier/build
examples/*/hdl
examples/*/reports
examples/*/sim
examples/*/*.log
examples/*/*.s
*.rpt
vivado_reports/
sim_log/
backup_prj/
sim/
rpts/
rpt/
hdl/
reports/
float_components/
nuxmv_traces_*/
__pycache__/
.*
!/.gitignore
*.dat
*.fir
*.gsol
*.json
*.log
*.lp
*.out
*.pdf
*.rpt
*.s
*.tcl
*.v
*.vhd
*.xdc
*.zip
*.jou
*.txt
*.
*_output*
*_report*
work/
autosave_*.db
*.dcp
*.*.lock
jg.cmd
jgproject/
run.sh
sessionLogs/
sva/
work/
